

img{
    height: 280px;
    width: 280px;
    border-radius: 50%;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color : orange !important;
}

#Biography{
    margin-top: 100px !important;
    text-align: justify;
}

#links{
    margin-top: 50px !important;
    content : center;
    text-align: center;
    margin : 0 auto;
}

h3{
    font-size: 20px;
}

.contactLinks{
    padding-left: 5em;
    text-align: left;
}

