<div class="container">
    <div class="row">
        <div class="col-sm-6" id="Biography">
            <h1>
                Biography.
            </h1>
            <p>
                I'm a final year undergrad student based in Chennai, India. I appreciate the skill of quickly learning
                new tech stacks. I mainly pursue the challenge of navigating through code and contributing to knowledge.
                In my free-time, I also pursue a B.E in CompSci from a reputed university in Chennai, India. I'm
                currently trying my hand at cloud technologies and in the past, I've worked on figma, web-dev.
                <br><br>Feel free to reach out to me for a conversation on absolutely anything and I'll do my best to be
                entertaining. It's easy if it's about Tech or Sports and it's easier if it's about interesting
                opportunities in learning new skills in the form of internships/challenges. Checkout my GitHub in the
                links section.
                <br><br>
                <b>Interning at TransUnion as of August 2023.</b>
                <br><br>
                I'm proficient in Tamil, English and Hindi. I've also grown to understand most South-Indian languages
                and Punjabi thanks to the diverse group of peers I've been exposed to. Please click on the email area to
                reach me.
            </p>
        </div>
        <div class="col-sm-6" id="links">
            <br>
            <img src="..\..\assets\images\1671449124228.jpg">
            <br>
            <!-- My links -->
            <div class="contactLinks">
                <h3>Links.</h3>
                <ul class="links">
                    <li> <a href="http://www.linkedin.com/in/arjunmukesh/"><i class="fa fa-linkedin-square"
                                style="font-size:24px"></i> arjunmukesh</a></li>
                    <br>
                    <li><a href="https://leetcode.com/arjunmukesh/"><svg role="img" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg" id="IconChangeColor" height="22" width="22">
                                <title>LeetCode</title>
                                <path
                                    d="M13.483 0a1.374 1.374 0 0 0-.961.438L7.116 6.226l-3.854 4.126a5.266 5.266 0 0 0-1.209 2.104 5.35 5.35 0 0 0-.125.513 5.527 5.527 0 0 0 .062 2.362 5.83 5.83 0 0 0 .349 1.017 5.938 5.938 0 0 0 1.271 1.818l4.277 4.193.039.038c2.248 2.165 5.852 2.133 8.063-.074l2.396-2.392c.54-.54.54-1.414.003-1.955a1.378 1.378 0 0 0-1.951-.003l-2.396 2.392a3.021 3.021 0 0 1-4.205.038l-.02-.019-4.276-4.193c-.652-.64-.972-1.469-.948-2.263a2.68 2.68 0 0 1 .066-.523 2.545 2.545 0 0 1 .619-1.164L9.13 8.114c1.058-1.134 3.204-1.27 4.43-.278l3.501 2.831c.593.48 1.461.387 1.94-.207a1.384 1.384 0 0 0-.207-1.943l-3.5-2.831c-.8-.647-1.766-1.045-2.774-1.202l2.015-2.158A1.384 1.384 0 0 0 13.483 0zm-2.866 12.815a1.38 1.38 0 0 0-1.38 1.382 1.38 1.38 0 0 0 1.38 1.382H20.79a1.38 1.38 0 0 0 1.38-1.382 1.38 1.38 0 0 0-1.38-1.382z"
                                    id="mainIconPathAttribute"></path>
                            </svg> arjunmukesh</a></li>
                    <br>
                    <li><a href="https://github.com/arjunmukeshh"><i class="fa fa-github" style="font-size:24px"></i>
                            arjunmukeshh</a></li>
                    <br>
                    <li (click)="onClick()"><i class="fa fa-envelope" style="font-size:20px"></i><ng-container
                            *ngIf="showMail==false"> click for e-mail.</ng-container><ng-container
                            *ngIf="showMail==true">
                            <a
                                href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#114;&#106;&#117;&#110;&#50;&#48;&#49;&#48;&#49;&#53;&#56;&#64;&#115;&#115;&#110;&#46;&#101;&#100;&#117;&#46;&#105;&#110;">
                                &#97;&#114;&#106;&#117;&#110;&#50;&#48;&#49;&#48;&#49;&#53;&#56;&#64;&#115;&#115;&#110;&#46;&#101;&#100;&#117;&#46;&#105;&#110;</a></ng-container>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>