<div class="container">
    <div class="row" id="writeup">
        <div class="col-sm">
            <h1>Postscript.</h1>
            <p>I really love learning new things and therefore, if there's any new technologies that are in my
                reach, I
                quickly hop on
                the bandwagon. I'd say this is my biggest advantage as I'm pretty quick to get started and able to
                implement
                a medium/high complexity application within a couple of months.
                I am able to deliver consistently with quality work.
            </p>
            <h2>
                Tech Stack
            </h2>
            <ul>
                <li>
                    <strong>Web Development</strong> : HTML, CSS, Javascript, Typescript, Angular, Jest, React, Node,
                    MongoDB, MySQL.
                </li>
                <li>
                    <strong>Core</strong> : C, C++, Java
                </li>
                <li>
                    <strong>Familiar with</strong> : Google Cloud Platform, Figma, Python, FastAPI, Keras, Excel.
                </li>
            </ul>
            <p>
                Solved <em>350+</em> questions across LeetCode and Codeforces.
            </p>
        </div>
        <div class="col-sm">
            <h1>Academics.</h1>
            <p>Consistently part of the top 10% in my class. Active participant in all engagements. My strong
                academic
                background
                and standardized test scores are a testament to my discipline and fervour. <br>I've also been recognized
                for securing Rank 2 in English and Rank 3 in CompSci @ AISSCE 2020 by my school. I've bagged the Best
                Student in Grade 10 award as well.</p>
            <h2>Scores</h2>
            <ul>
                <li><strong>B.E in Computer Science</strong> 2024(Expected)<br> SSN College of Engineering,
                    Kalavakkam. A top grad school in
                    Southern-India.<br><em>Cummulative GPA :</em> 9.17/10</li>
                <li><strong>12th</strong> 2020<br> Vidya Mandir Senior Secondary School,
                    Mylapore. <br><em>AISSCE :</em> 96%</li>
                <li><strong>10th</strong> 2018<br> Jawahar Vidyalaya, Ashok
                    Nagar<br><em>Standardized Test</em> : 93.4%</li>
            </ul>
        </div>

    </div>
    <h1>Projects.</h1>
    <div class="row">
        <div class="col-sm">
            <h2>AdMute</h2>
            <img src="..\assets\images\admute.png" height="300px" width="600px">
        </div>
        <div class="col-sm centerdiv" >
            Chrome extension to mute exactly when advertisements play and unmute when they don't for IPL 2023.
            Used pixel matching to compare screenshots of the users screen taken periodically to determine whether an
            advertisement is playing or the cricket
            match is going on. If there is an advertisement, we mute the browser audio.
            <br><br>
            <strong>Key Skills</strong>: Javascript, Chrome API, Extension
            <br><br>
            <a href="https://github.com/arjunmukeshh/AdMute"><i class="fa fa-github" style="font-size:24px"></i>
                GitHub Repository.</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm ">
            <h2>TrackRacks</h2>
            <img src="..\assets\images\trackracks.png">
        </div>
        <div class="col-sm centerdiv">
            An end-to-end solution to plan your workouts and maximize your health gains by optimal tracking and
            monitoring while getting valuable insights. Key
            features are classification of exercises, graphical display of data and measure of tiredness after workout.
            Has a fully functional graph visualizer that can plot a graph for every single workout. View your calorie
            intake as a graph. Make right decisions and
            healthier choices.
            <br><br>
            <strong>Key Skills</strong>: HTML, CSS, Javascript, MySQL, Apache Tomcat, Servlets(Java)
            <br><br>
            <a href="https://github.com/arjunmukeshh/trackracks"><i class="fa fa-github" style="font-size:24px"></i>
                GitHub Repository.</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm centerdiv">
            <h2>Movie Review Sentiment Analysis</h2>
            <img src="..\assets\mrsa.png" height="300px" width="400px">
        </div>
        <div class="col-sm centerdiv">
            A project in ML to determine whether a particular review is positive or negative for a movie. Implemented
            using ML models in the Keras Library. User inputs a review and the model predicts whether the user has
            supplied a positive one or a negative one.

            <br><br>
            <strong>Key Skills</strong>: Keras, Pandas, Python
            <br><br>
            <a href="https://github.com/arjunmukeshh/MovieSentimentAnalysis"><i class="fa fa-github" style="font-size:24px"></i>
                GitHub Repository.</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm centerdiv">
            <h2>To Do</h2>
            <img src="..\assets\images\todo.png" height="500px" width="400px">
        </div>
        <div class="col-sm centerdiv">
            Web-application to simulate a to-do list created using the FARM stack(FastAPI, React and MongoDB) featuring
            operations to create, update and
            delete tasks. Demo on the given link.
            <br><br>
            <strong>Key Skills</strong>: FastAPI, ReactJS, HTML5, CSS, MongoDB
            <br><br>
            <a href="https://github.com/arjunmukeshh/Todo"><i class="fa fa-github" style="font-size:24px"></i>
                GitHub Repository.</a>
        </div>
    </div>
</div>