<div class="container">
    <div class="row" id="writeup">
        <div class="col-sm">
            <h1>Postscript.</h1>
            <p>I really love learning new things and therefore, if there's any new technologies that are in my
                reach, I
                quickly hop on
                the bandwagon. I'd say this is my biggest advantage as I'm pretty quick to get started and able to
                implement
                a medium/high complexity application within a couple of months.
                I am able to deliver consistently with quality work.
            </p>
            <h2>
                Tech Stack
            </h2>
            <ul>
                <li>
                    <strong>Web Development</strong> : HTML, CSS, Javascript, Typescript, Angular, Jest, React, Node,
                    MongoDB, MySQL.
                </li>
                <li>
                    <strong>Core</strong> : C, C++, Java
                </li>
                <li>
                    <strong>Familiar with</strong> : Python, FastAPI, Keras, Excel.
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <h1>Academics.</h1>
            <p>Consistently part of the top 10% in my class. Active participant in all engagements. My strong
                academic
                background
                and standardized test scores are a testament to my discipline and fervour. <br>I've also been recognized
                for securing Rank 2 in English and Rank 3 in CompSci @ AISSCE 2020 by my school. I've bagged the Best
                Student in Grade 10 award as well.</p>
            <h2>Scores</h2>
            <ul>
                <li><strong>B.E in Computer Science</strong> 2024(Expected)<br> SSN College of Engineering,
                    Kalavakkam. A top grad school in
                    Southern-India.<br><em>Cummulative GPA :</em> 9.17/10</li>
                <li><strong>12th</strong> 2020<br> Vidya Mandir Senior Secondary School,
                    Mylapore. <br><em>AISSCE :</em> 96%</li>
                <li><strong>10th</strong> 2018<br> Jawahar Vidyalaya, Ashok
                    Nagar<br><em>Standardized Test</em> : 93.4%</li>
            </ul>
        </div>

    </div>
    <h1>Projects.</h1>
    <div class="row">
        <div class="col-sm">
            <h2>AdMute</h2>
        </div>
        <div class="col-sm">
            project description
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>TrackRacks</h2>
        </div>
        <div class="col-sm">
            project description
        </div>
    </div>
</div>