<div class="container">
    <div class="row">
        <div class="col-sm">
            Here, I'm showcasing a few projects that I've had the pleasure of building or being a part of. I really love
            learning new things and therefore, if there's any new technologies that are in my reach, I quickly hop on
            the bandwagon. I'd say this is my biggest advantage as I'm pretty quick to get started and able to implement a medium/high complexity application within a couple of months. 
            I am able to deliver consistently with quality work.
        </div>
        <div class="col-sm">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            project one
        </div>
        <div class="col-sm">
            project description
        </div>
    </div>
</div>