<div class="container">
    <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
    <div class="container">
        <nav class="navbar navbar-expand-lg" id="navb">
            <a class="navbar-brand" href="#" id="brand">
                Arjun M
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" routerLink="/about" routerLinkActive="active" id="about">Biography.<span
                            class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link " routerLink="/projects" routerLinkActive="active" id="projects">Work.</a>
                    <a class="nav-item nav-link " (click)="toggleDarkMode()" id="mode">
                        {{ isDarkMode ? 'Light' : 'Dark' }} Mode
                    </a>
                </div>
            </div>
        </nav>
    </div>
    


    <!-- The routed views render in the <router-outlet>-->
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>