/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* styles.css */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}